* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  min-height: 100%;
  position: relative;
  padding-top: 25px;
  overflow-x: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 4em;
  text-align: center;
  position: relative;
}
.content h1 {
  font-size: 3em;
  padding: 0;
  margin: 0;
  font-weight: bolder;
}
.content p {
  padding: 10px;
  opacity: 60%;
  max-width: 400px;
}

.bg-purple {
  background: linear-gradient(180deg, #e74dfc 20%, #8c49f0);
  height: 500px;
  width: 250px;
  max-width: 250px;
  border-radius: 0px 0px 190px 190px;
  position: absolute;
  top: 0;
  left: -100px;
}

.bg-gray {
  background-color: #f9f4fa;
  height: 500px;
  width: 250px;
  border-radius: 190px 190px 0px 0px;
  position: absolute;
  bottom: 0px;
  right: -100px;
}

.main {
  margin: 0;
  padding: 0;
  margin: auto;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 900px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    text-align: start;
    display: flex;
    align-items: flex-start;
    padding: 5em;
    flex: 1;
  }

  .bg-purple {
    width: 400px;
    max-width: 500px;
    left: -100px;
  }

  .bg-gray {
    width: 400px;
    max-width: 500px;
    right: -100px;
    position: absolute;
    bottom: 0px;
  }

  .main {
    flex-direction: row;
  }
}
.phone {
  position: relative;
  width: 275px;
  background-color: white;
  padding: 10px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.phone__screen {
  background-color: #f5f3f7;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 900px) {
  .phone {
    margin: auto;
    margin-left: 20%;
  }
}
.header {
  height: 20%;
  background: #8c49f0;
  background: linear-gradient(90deg, #8c49f0 0%, #e74dfc 100%);
  border-radius: 20px 20px 10px 10px;
  padding: 0px 15px;
  padding-bottom: 1em;
}
.header .sound {
  height: 20px;
  width: 65%;
  background-color: white;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 0px 0px 20px 20px;
}
.header__presentation {
  display: flex;
  flex-direction: row;
  color: white;
  width: 100%;
  position: relative;
}
.header__presentation img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid white;
  margin-right: 0.5em;
}
.header__presentation h3 {
  margin: 0;
  font-size: 1em;
}
.header__presentation p {
  margin: 0;
  font-size: 0.7em;
  opacity: 70%;
}
.header__presentation .header__dots {
  width: 10px;
  height: 10px;
  background-image: radial-gradient(circle, white 0.8px, transparent 1px);
  background-size: 100% 33.33%;
  position: absolute;
  right: 0px;
  bottom: 50%;
  opacity: 70%;
}

.search-bar {
  background-color: white;
  border-radius: 50px;
  width: 95%;
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 5px 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-bar p {
  font-size: 0.7em;
  opacity: 70%;
  color: gray;
}

.phone__message {
  width: 60%;
  margin-top: 0.5em;
  margin-left: 0.7em;
  padding: 0.5em;
  border-radius: 15px 15px 15px 0px;
  font-size: 0.7em;
}

.phone__message--left {
  background-color: #ece4f4;
  color: #9241c8;
}

.phone__message--right {
  color: #6e5d7e;
  background-color: white;
  align-self: flex-end;
}

.phone__message--price {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(90deg, #e74dfc 40%, #8c49f0);
  color: white;
  width: 70%;
  min-height: 35px;
  flex: 1 0 0;
}
.phone__message--price .circle {
  border-radius: 50%;
  border: 1px solid white;
  width: 15px;
  height: 15px;
  margin-right: 1em;
}
.phone__message--price .circle:hover {
  background-color: white;
  cursor: pointer;
}
.phone__message--price .price {
  font-weight: bolder;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone__message--price .time {
  flex: 1;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

.images_message {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5em;
}
.images_message img {
  height: 40px;
  width: 40px;
  margin-right: 0.4em;
  border-radius: 10px;
}

/*# sourceMappingURL=style.css.map */
