*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;    
}

html, body{
    margin: 0;
    padding: 0;     
}

html{
    height: 100%; 
}
 
body{
    font-family: 'Rubik', sans-serif;     
    min-height: 100%;    

    position: relative; 

    padding-top: 25px; 
      
    overflow-x: hidden;  

} 

.content{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 

    padding: 20px; 
    margin-top: 4em;   
    
    text-align: center;  

    position: relative; 
    
    h1{
        font-size: 3em;
        padding: 0; 
        margin: 0;  

        font-weight: bolder;  
    }

    p{
        padding: 10px; 
        opacity: 60%;   

        max-width: 400px;   
    }
}

.bg-purple{
    background: linear-gradient(180deg, rgba(231,77,252,1) 20%, rgba(140,73,240,1)); 

    height: 500px;  
    width: 250px;         
    max-width: 250px; 

    border-radius: 0px 0px 190px 190px;    
     
    position: absolute;
    top: 0;
    left: -100px;         
}

.bg-gray{
    background-color: #f9f4fa;  
    height: 500px;
    width: 250px; 

    border-radius: 190px 190px 0px 0px; 

    position: absolute; 
    bottom: 0px;
    right: -100px;  
}

.main{
    margin: 0;
    padding: 0; 

    margin: auto; 
    width: 80%;   
    height: 100%; 

    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center; 

    position: relative; 
}
 
@include desktop-only{
    body{
        display: flex; 

        justify-content: center; 
        align-items: center; 

    }

    .content{ 
        text-align: start; 

        display: flex;
        align-items: flex-start; 
   
       padding: 5em;   

        flex: 1;  
    }

    .bg-purple{
        width: 400px;  
        max-width: 500px;
        
        left: -100px;  
        
    }

    .bg-gray{
        width: 400px;
        max-width: 500px;

        right: -100px;
        
        position: absolute;
        bottom: 0px; 
    }

    .main{
        flex-direction: row;  

    }
}
